body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
font-size: 18px;
    line-height: 1.4;
    color: #fff;
    background-color: #000;
    
}

*,
*:before
*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}
.badge{
    width:163px; 
    height:51px;
}
/* container
===============*/
.container{
    width: 100%;
    max-width: 1240px;
    max-height: none;
    margin: 0 auto;
    display: grid;
    padding: 0 15px;
}

/* Header
===============*/
.header{
    width: 100%;
    max-height: 130px;
    
   position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
      padding: 23px 0;
     align-items: center;
}
.logo__cube{
    width:87px; 
    height:89px;
}
.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding-left: 12px;
    color: #fff;
   
}
.pep{
    padding-left: 108px;
    padding-right: 14px;
}
.login{
    color: #fff;
    border-bottom: 1px solid;
    align-content: center;
}
.login:hover{
    color: red;
} 

/* INTRO */

.intro{
    display: flex;
}
.vector1{
    float: right;
    margin-left: 900px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.screen__one{
    width:333px; 
    height:668px;
    float: right;
    margin-top: 170px;
    margin-right: auto;
    background-color: transparent;
    position: relative;
    z-index: 10;
}
.intro__inner{
     width: 100%;
    max-height: 900px;
}
.intro__title{
    justify-content: flex-start;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    height: 140px;
    width: 645px;
    padding-top: 275px;
}

.ellipse1{
    position: absolute;
    left: 10;
    top: 10;
    z-index: 10;
    margin-top: 80px;
}
.intro__subtitletext{
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    width: 380px;
    height: 81px;
    padding-top: 126px;
    padding-left: 105px;
    position: relative;
    z-index: 1;
}
.intro__download{
    display: flex;
    height: 300px;
    align-items: center;
}
.download__text{
    font-family: 'Montserrat', sans-serif, #fff;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}
.download__items{
    margin-left: 388px;
    letter-spacing: 28px;
}

/* PARTNER */
.part{
  display: flex;
  padding-left: 76px;
  padding-right: 76px;
  justify-content: space-between;

}
.part__border{
    display: block;
    width: 45%;
    height: 312px;
    
    border: 1px solid;
    border-color: #fff;
    border-radius: 30px;
}
.part__title{
     margin-top: 64px; 
    margin-left: 55px; 
    font-weight: 700, bold;
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 28px;
}
.part__subtitle{
    text-decoration:underline 1px solid;
    margin-left: 55px;
    font-weight: 400;
    line-height: 1.25;
    font-size: 24px;
    opacity: 0.85;
}
.part__subtitle:hover{
    opacity: 1;
}


/* OUR MISSION */
.ourmission{
display: flex;

padding: 246px, 0;
}
.screen__two{
width: 33%;
max-width: 1000;
transform:rotate(90deg);
}
.ourmission__text{
width: 50%;
    margin-top: 250px;
margin-left: 400px; 

max-width: 315px; 
}
.ourmission__title{
    float: right;
font-family: 'Montserrat' sans-serif;
font-weight: 700,Bold;
font-size: 51px;
line-height: 1.2;
margin-bottom: 23px;
position: relative;
}
.ourmission__subtitle{
 font-weight: 400;
}
.ellipse2{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding-left:  120px;
    margin-bottom: 30px;
}
/* BARMEN */
.bar{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 1150px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 22%, rgba(49, 29, 94, 0.3) 40%,rgba(49, 29, 94, 0.3) 75%,rgba(0, 0, 0, 0.85) 100%), #D02090 url(img/bar.png) center;  
    background-size:cover;
}
.bar__screens{
 letter-spacing: 50px;
}

.bar__text{
position: relative;
left: 900px;
top: 600px;
 max-width: 320px;
}
.bar__title{
 font-family: 'Montserrat',sans-serif;
 font-weight: 700,bold;
 font-size: 51px;
 line-height: 1.1;
 margin-bottom: 23px;
}
.screen__three{
    width:333px; 
    height:668px;
}

/* TOOLS 
===========================================*/
.tools{
    margin: 155px 0;
}
.tool__content{
    align-items: center;
    display: flex;
}
.tools__text{
     width: 45%; 
}
.tools__title{
font-family: 'Montserrat', sans-serif;
font-weight: 700, bold;
line-height: 1.1;
 font-size: 51px;
 margin-bottom: 23px;
}
.tools__inner{
    position: relative;
    margin-top: 140px;
    width: 55%; 
    height: 520px;
}
.tool1{
    position: absolute;
    left: 300px;
}
 .tool2{
    position: absolute;
    left: 127px;
    top: 170px;
}
.tool3{
    position: absolute;
    top: 230px;
} 
.tool4{
    position: absolute;
    left: 214px;
    bottom: 110px;
    z-index: 100;
}
.tool5{
    position: absolute;
    top: 170px;
    right: 99px;
} 
.tool6{
    position: absolute;
    left: 105px;
    bottom: 10px;
} 
.tool7{
    position: absolute;
    bottom: 0;
    right: 20px;
} 
/* QR
========================= */
.qr{
    display: flex;
    max-height: 1270px;
}
.dj{
    position: relative;
    width: 50%;
    background-size: cover;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.92) 10%, rgba(49, 29, 94, 0.3) 30%,rgba(49, 29, 94, 0.3) 55%,rgba(0, 0, 0, 0.85) 100%), url(img/dj.png);
}
.dj__content{
    position: absolute;
    top: 537px;
    left: 155px;
}
.dj__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700,bold;
    font-size: 51px;
    margin-bottom: 23px;
}
.dj__subtitle{
    max-width: 315px;
    margin-bottom: 58px;
}
.badge__block2{
    display: flex;
}
.coctail{
    width: 50%;
    position: relative;   
}

.badge2{
    width: 163px;
    height: 51px;
    margin-right: 28px;
}
.nightlife{
    position: absolute;
    right: 115px;
}
.screen5{
    position:absolute;
    top: 225px;
    left: -130px;
}
.screen6{
    position: absolute;
    top: 566px;
    right: 80px;
}

/* GENERATE
============================================ */
.generate{
    margin-top: 1000px;
    position: relative;
}
.generate__text{
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 390px;
    justify-content: space-between;
}
.generate__title{
    max-width: 381px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    font-weight: 700;
    font-size: 51px;
}
.generate__subtitle{
    max-width: 292px;
    padding-right: 100px;
}
.bg__qr{
    max-width: 1222px;
    max-height: 1152px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow{
    position: absolute;
    top: -135px;
    left: 900px;
    z-index: 10;
}
.arrow__text{
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 21px;
    top: -55px;
    left: 975px;
}
.caption__notab{
    font-family: 'Moontserrat', sans-serif;
    font-weight:bolder;
    font-size: 200px;
    text-transform: uppercase;
    opacity: 50%;
    color:#372B43;
}
.caption1{
    position: absolute;
    z-index: 2;
    top: -270px;
    left: -69px;
}
.caption2{
    position: absolute;
    z-index: 2;
    top: -270px;
    right: -100px;
}
.caption3{
    position: absolute;
    z-index: 2;
    top: 50px;
    left: -251px;
}
.caption4{
    position: absolute;
    z-index: 2;
    top: 0px;
    right: -269px;
}
.screen7{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* EASIER
=============================== */
.easier{
  margin-top: 700px;
}
.easier__text{
    position: absolute;
    right: 160px;
}
.easier__title{
    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 1.1;
    max-width: 421px;
    margin-bottom: 23px;
}
.easier__img{
    width: 100%;
    position: relative;
    z-index: 1;}
.easier__bg{
    margin-top: 160px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.easier1{position: absolute; top: 370px; left: 670px;}
.easier2{position: absolute; top: 520px; left: 160px;}
.easier3{position: absolute; top: 800px; left: 880px;}
.easier4{position: absolute; top: 900px; left: 390px;}

/* NOTAB */
.Notab{
    width: 100%;
}

/* REGISTRATION */
.registration{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}
.registration__title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700, bold;
    font-size: 51px;
    margin-bottom: 23px;
}
.registration__subtitle{
   margin-bottom: 82px;
}
.registration__labels{
    width: 818px;
    margin-left: auto;
    margin-right: auto;
} 

input[type=text]{
    display: inline-block;
    justify-content: center;
    padding: 23px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    max-width: 818px;
    width: 93%;
    margin-bottom: 23px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
input[type=text].error:invalid{
    border: 2px solid #f00;
} 
input[type=text]:focus{
    outline: none;
    border-color: #07a6e6;
}
::placeholder{
    color: #BFBFBF;
}
input[name="venue city"]{
 margin-right: 24px;
}
input[name="venue city"],input[name="state city"]{
width: 41.7%;
}
input[name="message"]{
    padding-bottom: 148px;
    margin-bottom: 0;
   }
#btn{
    background-color:transparent;
    padding: 25px 167px;
    margin: 60px 0;
    margin-right: auto;
    margin-left: auto;
    color:#fff;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 10px;
    width: 398px;
}
#btn:hover{
    color: red;
}
.reg__download{
    display: flex;
   flex-direction: column;
    
}
.reg__title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 32px 0;
}
.reg__badges{
    position: static;
    bottom: -80px;
    left: 290px;
}
.badge3{
    width: 258px;
    height: 81px;
    margin-right: 59px;
}
.badge4{
    width: 292px;
    height: 82px;
}
.be3{
    position: absolute;
    top: -50px;
    left: 160px;
    z-index: 1;
}
.be4{
    position: absolute;
    right: -10px;
    top: 350px;
    z-index: 1;
}
.be5{
    position: absolute;
    left: 0;
    bottom: -350px;
}



/* FOOTER
=============================================== */
.footer{
    display:flex;
    width: 100%;
    height: 350px;
    align-items: center; 
    
}
.footer__left{
    max-width: 171px;
    display: flex;
    flex-direction: column;
}
.footer__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700, bold;
    font-size: 20px;
    margin-bottom: 16px;
}
.footer__subtitle{
    margin-bottom: 19px;
}
.footer__year{
font-family: 'Avenir';
font-weight: 800, bold;
}

.footer__right{
    max-width: 107px;
    position: absolute;
    right: 130px;
}

.right__title{
    font-family: 'Avenir';
    line-height: 3;
}


/* COOKIE */
.cookie{
    position: sticky;
    bottom: 0;
    z-index: 100;
    display: flex;
    background-color: #212834;
    width: 100%;
    height: 93px;
    align-items: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.cookie.hidden{
    display: none;
}
.cookie__title{
    font-size: 14px;
    margin-right: 30px;
}
#btn__cookie{
    background-color: #6e6e6e;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    padding: 17px 56px;
    float: right;
    margin-right: 24px;
}
#btn__cookie:hover{
    color: black;
    border: 1px solid black;
}







/* Media
===================*/





@media(max-width: 1215px){
    /* Header */
    .container{
        width: auto;
    }
    /* INTRO */
    .vector1{
        margin-left: auto;
    }
.intro__title{
    height: 140px;
    width: 900px;
}
    .download__text{
        font-size: 30px;
        margin-bottom: 34px;
    }
    .download__items{
        margin-left: auto;
        margin-right: auto;
    }
     .intro__download{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        

    } 
    .intro__items{
        margin-left: 0px;
    }
    /* BAR */
    .bar__screens{
        margin-left: auto;
        display: flex;
    }
    .bar__text{
        width:100%;
        margin-top: 154px;
        left: 0;
        top: 0;
    }
    .screen__three{
        margin-top: 55px;
        width: 287px; 
        height:575px;
        margin-right: 50px;
    }
    .bar__subtitle{
        margin-bottom: 70px;
    }
    
    /* FOOTER */
    .footer__right{
        display: flex;
        position: static;
        right: auto;
        padding: 0 55px;
        text-align: center;
    }
    .footer__left{
        text-align: center;
        max-width: 220px;
        margin-top: 50px;
    }
    .footer__subtitle{
        font-size: 14px;
    }
    .footer>.container>.footer__right{order: 1;}
    .footer>.container>.footer__left{order: 2;}
    .footer__year{font-size: 14px;}
}






@media(max-width: 977px){
/* INTRO */
.intro__title{
    position: relative;
    left: 0;
    z-index: 1;
    height: auto;
    width: auto;
}
.ellipse1{
    display: none;
}
.intro__subtitletext{
    position: relative;
    padding-top: 74px;
    padding-left: 0px;
    font-size: 20px;
}
.screen__one{
    left: auto; 
    padding-top: 88px;
    width: 250px; 
    height:auto;
}
/* PARTNER */
.part{
    flex-direction: column;
    padding-left: 15px;
    padding-right: 0;
}
.part__border{
    height: auto;
    width: 450px;
    margin-bottom: 30px;
}
.part__title{
    margin-top: 39px; 
    margin-left: 33px;
    font-size: 24px;
}
.part__subtitle{
    margin-left: 33px;
    font-size: 18px;
    margin-bottom: 40px;
}
/* OURMISSION */
.ourmission{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.screen__two{
    width: 250px;
    transform:none;
    margin-bottom: 190px;
    }
.ourmission__text{
    position: relative;
    z-index: 15;
    margin-top: 10px;
margin-left: 30px;
        margin-top: 250px;
    margin-left: 0px; 
    
    max-width: auto; 
}
.ellipse2{
    padding-left: 0;
    top: -50px;
    left: -50px;
}
.ourmission__title{width: 340px;
font-size: 28px;
float: left;}
.ourmission__subtitle{width: auto;
font-size: 20px;}
.ourmission>.ourmission__text{order: 1;
    margin-left: auto;
    margin-right: auto;}
.ourmission>.screen__two{order: 2;
margin-left: auto;
margin-right: auto;
margin-top: 163px;}
/* BAR */
.bar{
    height: 0px;
    padding-bottom: 56.25%;
    flex-flow: column;
}
.bar__screens{
    flex-direction: column;
    
}
/* TOOLS */
.tools{
    margin-top: 1500px;
}
.tool__content{
    display: block;
}
.tools__text{
    margin: auto;
    width: auto;
}
.tools__title{
font-size: 36px;
}
.tools__inner{
    margin: auto;
    margin-top: 10px;
    width: 100%;
}
/* QR */
.qr{
    display: block;
}
.dj{
    width: 100%;
    padding-bottom: 96.25%;
    background-size:cover;
}

.coctail{
    margin-top: 410px;
    width: 100%;
    padding-bottom: 56.25%
}
.screen5{
    position: static;
    width: 280px;
    height: 563px;
    margin-bottom: 50px;
}
.screen6{
    position: static;
    width: 280px;
    height: 563px;
}
.coctail__screens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nightlife{
    width: 88px;
    right: auto;
    top: 160px;
    left: 0;
}
.coctail__background{
   width: 100%;
}
.badge__block2{
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
.badge2{
width: 185px;
height: 60px;
margin-bottom: 24px;
}

/* GENERATE */
.generate{
    margin-top: 2600px;
}
.arrow{
    transform: rotate(45deg);
    top: 280px;
    left: 630px;
}
.arrow__text{
    font-size: 18px;
    top: 380px;
    left: 560px;
}
/* EASIER */
.easier1{ left: 430px;}
.easier3{ left: 510px;}

/* REGISTRATION */
.registration__labels{
    width: auto;
}
input[name="venue city"]{
    margin-right: 0;
   }
   input[name="venue city"],input[name="state city"]{
   width: 93%;
   }
   input[type=text]{
       width: 85%;
   }
   #btn{
       width: 345px;
       padding: 25px 150px;
   }
   .be3{left: -200px;}
   .be4{right: -60px;top: 700px;}
}













@media(max-width:800px){
    /* GENERATE */
    .generate{
        margin-top: 2350px;
        
    }
    .generate__text{
    display: block;
    top: -500px;
    }
    .generate__title{
        max-width: 500px;
        font-size: 36px;
        margin-bottom: 24px;
    }
    .screen7{
        width: 280px;
        height: 563px;
    }
    .caption__notab{
        font-size: 150px;
    }

    /* REGISTRATION */
.reg__badges{
    display: flex;
    flex-direction: column;
    bottom: auto;
    left: auto;
    align-items: center;
}
    .badge3, .badge4{
        width: 185px;
        height: 60px;
    }
    .badge3{
        margin-right: 0;
        margin-bottom: 24px;
    }
    
}




@media(max-width: 700px){
/* Intro */
.intro__title{
    max-width: 400px;
}
.intro__subtitletext{
    float: left;
}
.screen__one{
    position: absolute;
    right: -55px;
}
/* QR */
.coctail{
    margin-top: 320px;
}
/* GENERATE */
.generate{
    margin-top: 2750px;
}
 .arrow{
        top: 220px;
        left: 430px;
    }
.arrow__text{
        font-size: 18px;
        top: 320px;
        left: 360px;
    }
.caption__notab{font-size: 100px;}


/* EASIER */
.easier{
    margin-top: 450px;
}
.easier__text{
    position: static;
}
.easier__bg{
    margin-top: 145px;
    width: 360px;
    height: 430px;
}
.easier__title{
    max-width: 198px;
    font-size: 24px;
}
.easier__subtitle{
    font-size: 16px;
}
.easier1{width:165px;height:57px; top: 80px; left: 39px;}
.easier2{width:171px;height:62px; top: 160px; left: 240px;}
.easier3{width:122px;height:58px; top: 570px; left: 275px;}
.easier4{width:107px;height:43px; top: 480px; left: 29px;}
/* NOTAB */
.Notab{display: none;}

/* REGISTRATION */
.registration{
    margin-top: 140px;
}
}







@media(max-width: 600px){
/* HEADER */
.header{ 
    top: 40px;
    justify-content: space-between;
} 
.logo__cube{
    width: 51px; 
    height: 53px;
}
.logo{
    font-size: 20px;
}
.pep{
    display: none;
}
.login{
    margin-left: auto;
    justify-content: end;
    padding-bottom: 4px;
    border-bottom: 1px solid;
}
/* INTRO */

.intro__title{
    font-size: 40px;
}
.intro__subtitletext{
    padding-top: 74px;
    padding-left: 0px;
    font-size: 18px;
    width: 300px;
}
.screen__one{
    padding-top: 68px;
    width: 181px; 
    height:auto;
    margin-right: 0;
    margin-left: auto;
}
.download__text{
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
}
/* PARTNER */
.part__border{
    height: auto;
    width: auto;
    margin-bottom: 30px;
}
/* OURMISSION */
.ourmission__text{
    width: auto;
    margin-top: 150px;
}
/* BAR */
.bar__text{
    max-width: 345px;
}
.bar__title{
    font-size: 24px;
}
.bar__subtitle{
    font-size: 16px;
    max-height: 88px;
    justify-content: center;
}
.screen__three{
    margin-right: 25px;
}
/* TOOLS */
.tools{
    margin-bottom: 35px;
}
.tools__inner{
    height: 300px;
}
.tool1{
    width: 144px;
    height: 86px;
    left: -50px;
    top: 150px;
}
 .tool2{
    width: 109px;
    height: 21px;
    left: 31px;
    top: 70px;
}
.tool3{
    display: none;
} 
.tool4{
    width: 90px;
    height: 55px;
    top: 55px;
    left: 200px;
}
.tool5{
    width: 85px;
    height: 90px;
    top: 20px;
    right: -20px;
} 
.tool6{
    width: 90px;
    height: 55px;
    left: 130px;
    bottom: 130px;
} 
.tool7{
    width: 296px;
    height: 59px;
    bottom: 20px;
    right: -100px;
} 
/* QR */
.coctail{
    margin-top: 370px;
}
.dj__subtitle{
    max-height: 297px;
}
.dj__title{
    font-size: 24px;
}
.dj__subtitle{
    font-size: 16px;
    margin-bottom: 50px;
}
.dj__content {
    top: 330px;
    left: 15px;
}

/* GENERATE */
.generate{
    margin-top: 1950px;
}

/* REGISTRATION */
.registration__title{font-size: 24px;}
.registration__subtitle{font-size: 16px;}

/* COOKIE */
#btn__cookie{
    padding: 15px 35px;
}
.cookie__title{ font-size: 12px;}
}



@media(max-width: 399px){
/* Header */
.logo{
    font-size: 16px;
}
.login{
    font-size: 15px;
}
/* INTRO */
.intro__title{
    margin-bottom: 24px;
    padding-top: 210px;
    font-size: 30px;
    width: 207px;
}
.intro__subtitletext{
    padding-top: 0px;
    padding-left: 0px;
    font-size: 14px;
    width: 240px;
}
.intro__download{
    padding-top: 120px;
}
.screen__one{
   padding-top: 10px;
   width:161px; 
   height:322px;
}
.vector1{
    background: url(img/bg-dec/r.v1\(2\).png);
    margin-left: 40px;
}
.download__text{
    margin-left: 40px;
}
.download__items{
    margin-left: 80px;
    width: 50%;
}
.badge{
    width: 185px;
    height: 60px;
    margin-bottom: 18px;
}
/* OURMISSION */
.ourmission__title{
    font-size: 24px;
}
.ourmission__subtitle{
    font-size: 16px;
    max-width: 315px;
}
/* TOOLS */
.tools__title{
font-size: 24px;
}
.tools__subtitle{font-size: 16px;}

/* GENERATE */
.generate{
    margin-top: 1400px; 
}
.arrow{
    top: 135px;
    left: 270px;
}
.arrow__text{
    font-size: 16px;
    top: 230px;
    left: 210px;
}
.generate__title{font-size: 24px;}
.generate__subtitle{font-size: 16px;}
.generate__text{top: -330px;}
.bg__qr{width: 456px;height: 435px;}
.screen7{width: 181px;height: 364px;}
.caption__notab{font-size: 60px;}
.caption1{top: -80px; left: -15px;}
.caption2{top: -80px; right: -25px;}
.caption3{top: 10px; left: -70px;}
.caption4{top: 0; right: -65px;}
/* EASIER */
.easier{
    margin-top: 350px;
}
.easier2{ left: 180px;}
.easier3{ left: 225px;}

/* REGISTRATION */
.be5{left: -200px;}
}




@media(max-width: 321px){
    /* INTRO */
    .intro__subtitletext{
        max-width: 200px;
    }
    .download__text{
        margin-left: 20px;
    }
    .download__items{
        margin-left: 55px;
    }
    /* OURMISSION */
    .ourmission__text{
        padding-left: 25px;
    }
    .ourmission__subtitle{
        font-size: 15px;
    }
    /* TOOLS */
    .tool5{
        right: -60px;
    } 
    /* GENERATE */
    .arrow{
        top: 135px;
        left: 250px;
    }
    .arrow__text{
        top: 230px;
        left: 190px;
    }
    /* EASIER */
    .easier__subtitle {
        font-size: 14px;
    }
    .easier2{ left: 150px;}
.easier3{ left: 195px;}

     /* REGISTRATION */
     input[type=text]{
        width: 70%;
    }
    #btn{
        width: 245px;
        padding: 25px 100px;
    }
}
